<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <!-- 使用link元素导入样式文件 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- 导入jq框架用于代码的开发 -->
    <script src='{% static "js/jquery.min.js"%}'></script>
</head>
<body>
    <!-- 根据ui效果添加样式 -->
    <div id="login">
        <img src="{% static 'imgs/b.jpg'%}" alt="">
    </div>
    <!-- 新建一个外围最大的div元素 -->
    <div id="log">
        <!-- 将所有元素和数据添加到div中 -->
        <form action="/user/login" method="post" id="form_login">
            <a href=""></a>
            <div class="title">
                <h3>登录</h3>
            </div>
            <div class="tip">
                登录:
            </div>
            <div class="item">
               <span class="opt">用户名:</span>
                <input type="text" placeholder="Username" name="username" id="username" value="{{username}}">
                <span style="color:red">{{err1}}</span>
            </div>
            <div class="error" id="err1">Username not Null and lengh more than 6</div>
            <div class='item'>
                <span class="opt">密码:</span> <input type="password" name="password" id="password1" placeholder="Password">   字母数字_组成
            </div>
            <div class="error" id='err2'>Password not Null</div>
            <div>
                <label for="id_rem">记住用户名:</label>
                <input type="checkbox" name="remember" value=1 id="id_rem">
            </div>
            <div>{{password_error}}</div>
            <div class='btn'>
                <input type="submit" value="登录">
            </div>

        </form>
    </div>
    <!-- 导入页面罗杰代码，必须首先导入jq框架 -->
    <script src='{% static "js/blog.js"%}'></script>
</body>
</html>